<%- include('partials/header') %>
<link rel="stylesheet" href="/styles/confirmation.css"/>

</head>

<body>

<header class="logo">
  <div class="banner">
    <img src="/icons/logo-text.png" alt="logo" class="img-fluid">
  </div>
</header>

<div class="content-container container-sm">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h4>
        Your poll selections have been submitted successfully!
      </h4>
    </div>
  </div>
</div>

</body>


<%- include('partials/footer') %>
