<%- include('partials/header') %>
<link rel="stylesheet" href="/styles/main.css"/>

</head>

<body>

<header class="logo">
  <h1 class="">Show of Hands Logo</h1>
</header>

<div class="header-img">

</div>

<div class="content-container">
  <div class="intro-container">
    <div class="intro">
      <h3>Welcome to Show of Hands!</h3>
      <p>Where your delicate weekend plans meet group consensus. Jump in, gather your pal's thoughts on the upcoming
        meetup,
        the concert everyone's talking about, or the trending topic you can't wait to share with your friends. Let's
        make
        every moment a collective decision! </p>
    </div>

    <div class="get-started-container">
      <form action="/" method="POST" class="form-content needs-validation" novalidate>
        <div class="form-floating">
          <input type="text" placeholder="Your name" id="name" name="name" class="form-control" required>
          <label for="name">Name</label>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter your name!
          </div>
        </div>
        <div class="form-floating">
          <input type="email" placeholder="Your email" id="email" name="email" class="form-control" required>
          <label for="email">Email</label>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter your email!
          </div>
        </div>
        <div class="">
          <button type="submit" class="btn btn-primary">Get Started</button>
        </div>
      </form>
    </div>
  </div>

  <section class="feature-container">
    <h3 class="feature-title">Features</h3>
    <div class="feature-content">
      <div class="feature-icon">
        <i class="fa-solid fa-user-shield fa-3x"></i>
      </div>
      <div class="feature">
        <h4>Secured & Anonymous</h4>
        <p>Your friends can vote without the hassle of signing up and logging in.</p>
      </div>
    </div>
    <div class="feature-content">
      <div class="feature-icon">
        <i class="fa-solid fa-bolt fa-3x"></i>
      </div>
      <div class="feature">
        <h4>Real-time Updates</h4>
        <p>Stay tuned with poll details via administrative link.</p>
      </div>
    </div>
    <div class='feature-content'>
      <div class="feature-icon">
        <i class="fa-solid fa-square-poll-vertical fa-3x"></i>
      </div>
      <div class="feature">
        <h4>Advanced Ranking System</h4>
        <p>Using custom Borda count method, we ensure a more accurate representation of preferences.</p>
      </div>
    </div>
  </section>

  <section class="instruction-container">
    <div class="instruction-title">
      <h3>How it works?</h3>
    </div>
    <div class="instruction-content">
      <div class="instruction">
        <h4>1. Create a Poll</h4>
        <p>Setup your poll with multiple options and set its duration.</p>
      </div>
      <div class="instruction">
        <h4>2. Share the link</h4>
        <p>Get two links sent to your email: one for sharing with participants and another for poll management.</p>
      </div>
      <div class="instruction">
        <h4>3. Rank it Up</h4>
        <p>Participants can rank their preference using the shared link.</p>
      </div>
      <div class="instruction">
        <h4>4. Get Real-Time results</h4>
        <p>Admin can access live poll data, results, and feedback via the administrative link.</p>
      </div>
    </div>
  </section>

</div>

<%- include('partials/footer') %>
