<%- include('partials/header') %>
<link rel="stylesheet" href="/styles/poll.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script defer type="text/javascript" src="/scripts/poll.js"></script>
</head>

<body>

<header class="logo">
  <div class="banner">
    <img src="/icons/logo-text.png" alt="logo" class="img-fluid">
  </div>
</header>

<section class="poll-container container-sm">
  <form class="form-content needs-validation" id="form" novalidate>
    <h3 class="row d-flex justify-content-center mb-5">Create a poll</h3>
    <div class="row mb-3">
      <div class="col-6 mx-auto">
        <label for="title" class="form-label">Poll title</label>
        <input type="text" id="title" name="title" class="form-control form-control-lg" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please enter the poll title!
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-6 mx-auto">
        <label for="description" class="form-label">Poll description</label>
        <textarea type="text" id="description" name="description" class="form-control form-control-lg"></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group col-6 mx-auto">
        <label for="end">Poll period end date</label>
        <input type="datetime-local" id="end" name="end" class="form-control form-control-lg"/>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group col-6 mx-auto">
        <input type="checkbox" id="public" name="public" class="form-check-input">
        <label for="public" class="form-check-label">Send participants results after polling</label>
      </div>
    </div>

    <div class="row mb-3 candidate">
      <div class="mb-3">
        <div class="form-group col-6 mx-auto">
          <label for="candidate-title-0">Candidate title</label>
          <input type="text" name="candidate-title-0" class="form-control form-control-lg" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter the candidate title!
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group col-6 mx-auto">
          <label for="candidate-description-0">Candidate description</label>
          <input type="text" name="candidate-description-0" class="form-control form-control-lg">
        </div>
      </div>

      <hr class="col-6 mx-auto">
    </div>

    <div class="row mb-3 candidate">
      <div class="mb-3">
        <div class="form-group col-6 mx-auto">
          <label for="candidate-title-1">Candidate title</label>
          <input type="text" name="candidate-title-1" class="form-control form-control-lg" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter the candidate title!
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group col-6 mx-auto">
          <label for="candidate-description-1">Candidate description</label>
          <input type="text" name="candidate-description-1" class="form-control form-control-lg">
        </div>
      </div>

      <hr class="col-6 mx-auto">
    </div>


    <div class="row mb-3 add-candidate-container">
      <div class="col-3 mx-auto d-flex justify-content-center">
        <button type="button" id="add-candidate" class="btn btn-primary">Add candidate</button>
      </div>
    </div>



    <div class="row mb-3">
      <div class="col-3 mx-auto d-flex justify-content-center">
        <button type="submit" class="btn btn-primary submit-button">Create poll</button>
      </div>
    </div>

  </form>
</section>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Congratulation!</h5>
      </div>
      <div class="modal-body">
        <p>The poll has been created successfully. An administrative link will be sent to your email shortly.</p>
      </div>
      <div class="modal-footer f-flex justify-content-center">
        <button type="button" class="btn btn-primary redirect">Return to Front Page</button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
