<%- include('partials/header') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script defer type="text/javascript" src="/scripts/poll.js"></script>
</head>

<body>

<header>
  <h1 class="">Show of Hands Logo</h1>
</header>

<div class="content-container">
  <section class="poll-container">
    <form action="/poll/" method="POST" class="form-content needs-validation" novalidate>
      <div class="form-floating">
        <input type="text" placeholder="Poll title" id="title" name="title" class="form-control" required>
        <label for="title">Poll title</label>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please enter the poll title!
        </div>
      </div>
      <div class="form-floating">
        <input
          type="datetime-local"
          id="end"
          name="end"
        />
        <label for="end">Poll period end date</label>
      </div>
      <div class="form-floating">
        <input type="checkbox" id="public" name="public">
        <label for="vehicle2">Send participants results after polling</label><br>
      </div>
      <section class="candidate-container">
        <article>
          <div class="form-floating">
            <input type="text" placeholder="Candidate title" name="candidate-title-0" class="form-control" required>
            <label for="candidate-title-0">Candidate title</label>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter the candidate title!
            </div>
          </div>
          <div class="form-floating">
            <input type="text" placeholder="Candidate description" name="candidate-description-0" class="form-control">
            <label for="candidate-description-0">Candidate description</label>
          </div>
        </article>
        <div>
          <button type="button" id="add-candidate" class="btn btn-primary">Add candidate</button>
        </div>
      </section>
      <div>
        <button type="submit" class="btn btn-primary">Create poll</button>
      </div>
    </form>
  </section>

</div>

<%- include('partials/footer') %>
