// See: https://sass-lang.com/

body,
html {
  padding: 0;
  margin: 0;
  background-color: #E5e6ec;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}
